[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Downbox
Comment=The ultimate downloads organiser
Exec=/usr/share/downbox/bin/downbox.sh
Icon=/usr/share/downbox/icon.svg
Categories=Downloads;Media;Torrent;Organiser
